:root{
    --main-color: #ff7513;
    --second-color: #ffffff;
    --third-color: #24c1e9;
    --widget-bg: #d2f8d1 ;
    --Page-bg: #ffff;
}

.page-container,
.layout-main-section {
    background-color: var(-second-color);
}
ul li a:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}


/* Navigation Bar */
.standard-sidebar-item.selected{
    /*background: linear-gradient(to right, var(--main-color), var(--second-color));*/
    background: var(--second-color)
}
.standard-sidebar-item.selected a{
    color: var(--main-color);
} 
.standard-sidebar-item.selected a svg{
    fill: var(--main-color);
}
.standard-sidebar-item:hover{
    background-color: var(--main-color);
}
.standard-sidebar-item:hover a,
.standard-sidebar-item:hover svg{
    color: var(--main-color);
    fill: var(--main-color);
}


.navbar {
    background: linear-gradient(to right, var(--main-color), var(--second-color)) !important;
    border: none !important;
}
.navbar-nav>li>a{
	color:#fff !important;
}
.navbar-nav>li>a:hover{
	color:#ddd !important;
}
.navbar-brand:hover {
	color:#ddd !important;
}
.navbar.navbar-light {
    display: none !important;
}

/* Widgets */
.widget {
    background-color: var(--widget-bg);
	border: var(--third-color);
	box-shadow: 0px 3px 12px 0px var(--widget-bg), 0 3px 3px -2px #461a7714;
}

.widget.shortcut-widget-box .widget-head .widget-title:hover span{
    color: var(--main-color);
}

.widget-body .link-item:hover, .widget.shortcut-widget-box:hover {
    color: var(--main-color);
    background: var(--third-color);
}

/* Sidebar */
.desk-sidebar .desk-sidebar-item {
    font-size: 13px;
    font-weight: 600;
	color: var(--widget-bg);
}
.layout-side-section {
    font-size: 14px;
}
.uppercase {
    color:var(--third-color);
}

/* Dropdowns */
.dropdown-menu>li>a {
    font-size: 13px;
	color:#666;
	font-weight: 500;
}
.awesomplete > ul > li[aria-selected=true]{
    background-color: transparent;
}
.awesomplete > ul > li:hover{
    background: linear-gradient(to right, var(--third-color), var(--second-color));
}

/*
.awesomplete > ul > li:hover a{
    color: var(--third-color);
} */


/* Page Heading */
.page-head {
    border-bottom: none !important;
    box-shadow: 0 1px 10px 1px rgba(115, 108, 203, 0.1);
}
.page-title .title-text {
	color: var(--third-color);
	font-size: 22px;
}
.widget .widget-head .widget-title,
.section-head,
.comment-input-header {
    font-size: 14px;
	color: var(--third-color);
}

/*Main Section */
.list-row-head {
    background-color: #f3f6f9;
    border-bottom: 1px solid #e4e4e4 !important;
}

/* Buttons */

.btn {
    background-color: #9adce7; 
    color: #030303;       
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;       
}

.btn.btn-primary {
background-color: var(--main-color);
color: var(--neutral);
white-space: nowrap;
--icon-stroke: currentColor;
--icon-fill-bg: var(--btn-primary);
}


.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.control-label, .grid-heading-row {
    font-size:13px;
}
.btn-default:hover,
.btn-default:focus, .btn-default.focus,
.btn-default:active, .btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-color: var(--third-color) !important;
    color: #fff !important;
}
.btn-default:hover svg{
    stroke: #fff !important;
    fill: #fff !important;
    color: #fff !important;
}
.btn-primary:hover,
.btn-primary:focus, .btn-primary.focus,
.btn-primary:active, .btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: var(--third-color) !important;
    border-color: var(--main-color) !important;
}
.btn-secondary,
.btn-secondary:focus, .btn-secondary.focus,
.btn-secondary:active, .btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
    background-color: var(--third-color);
    color: #fff;
}

.btn-secondary:hover{
    background-color: var(--third-color);
    color: #fff;
}
.indicator-right.blue:after, .indicator.blue:before {
    background: var(--third-color);
}

/*Other Components*/
input[type=checkbox]:checked:before {
    color: var(--third-color);
}
/*
input[type=checkbox]:checked{
    background: var(--main-color);
}*/

.frappe-control .ql-editor:not(.read-mode){
    background: var(--main-bg);
}
.input-with-feedback,
.like-disabled-input{
    background-color: #e8eafcad;
}
.document-link-badge span{
    background-color: var(---color) !important;
    color: #fff;
}

.document-link-badge{
    background-color: var(--main-bg)!important;
}
.document-link button{
    background: var(--third-color) !important;
    color: #fff !important;
}

.document-link button svg{
    fill: white;
    stroke: white;
}
.indicator-pill.gray,
.indicator-pill-right.gray,
.indicator-pill-round.gray {
    background: var(--third-color);
    color: #fff;
}
.indicator-pill.green,
.indicator-pill-right.green,
.indicator-pill-round.green {
    color: var(--main-color);
}

.notifications-icon svg{
    stroke: #fff;
    fill: #fff;
}

#page-Workspaces .page-head{
    background: var(--page-bg);
}


.form-tabs-list .form-tabs .nav-item .nav-link.active {
    font-weight: bold;
    background: var(--widget-bg);
  }